@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
.animate-link::after {
  content: "";
  background-color: currentColor;
  display: block;
  height: 0.1rem;
  width: 0;
  transition: width 0.3s ease;
}

.link-parent:hover .animate-link::after {
  width: 100%;
}