@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

.animate-link {
  display: inline;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.1rem;
  transition: background-size 0.3s ease;
}

.link-parent:hover .animate-link {
  background-size: 100% 0.1rem;
}